<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../static/css/modal.css">
    <link rel="stylesheet" href="../static/css/chat.css">
    <title>Title</title>
</head>
<body>
<div class="w3-container w3-gray" style="height:60px;">
    <div class="w3-display-topleft" style="margin-left: 20px"><h3>Crunch</h3></div>
    <div class="w3-display-topmiddle"><h3>(Customer side UI)</h3></div>
    <div class="w3-display-topright" style="margin-right: 20px"><h3>Jensens Bøfhus</h3></div>
</div>

<!-- Dette er indholdet til selve oversigten på frontpage -->
<div class="w3-container" style="margin-top: 30px">
    <div class="w3-bar w3-border w3-light-grey">
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-gray">Hjem</a>
        <a href="/butik" class="w3-bar-item w3-button w3-hide-small w3-padding-large">Butik</a>
    </div>
    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable" id="support-case-open">

        <tr>
            <td><b>Server</b> <br>
                Navn: Hovedmaskinen
            </td>
        </tr>

        <tr>
            <td><b>Server</b> <br>
                Navn: Backup
            </td>
        </tr>
        <tr>
            <td><b>Domæne</b> <br>
                Navn: JensensBøfhus.dk
            </td>
        </tr>
        <tr>
            <td><b>Hjemmeside</b> <br>
                Navn: JensensBøfhus.dk
            </td>
        </tr>
        <tr>
            <td><b>Hosting</b> <br>
                Navn: JensensBøfhus.dk
            </td>
        </tr>
    </table>

    <div id="support-case-modal">
        <div id="support-case-modal-content">
            <span id="support-case-close">&times;</span>
            <p style="text-align: center">Støttesager for: INSERT PRODUCT</p>
            <table id="list" style="width: 100%">
                <tr>
                    <td>INSERT SUPPORT CASE NAME</td>
                </tr>
                <tr>
                    <td>
                        <input class="support-case-checkbox" type="checkbox"/>
                        <img src="../static/user_unavailable.png" width="25" height="18"/>
                        <input id="support-case-chat-open"
                               type="image"
                               src="../static/chat.png"
                               width="17"
                               height="15"/>
                    </td>
                </tr>
            </table>
            <p align="right">
                <button>
                    Opret Ny Støttesag
                </button>
            </p>
        </div>
    </div>

    <div id="support-case-chat-modal">
        <div id="support-case-chat-modal-content">
            <span id="support-case-chat-close">&times;</span>
            <p>INSERT SUPPORT CASE NAME</p>
            <hr>
            <p>
            <td>INSERT SUPPORT CASE DESCRIPTION
            </p>
            <hr>
            <table>
                <div class="chat-container">
                    <img src="../static/user_available.png" class="left">
                    <p>Hello. How are you today?</p>
                    <span class="time-right">11:00</span>
                </div>
                <div class="chat-container">
                    <img src="../static/user_available.png" class="right">
                    <p>Hey! I'm fine. Thanks for asking!</p>
                    <span class="time-left">11:01</span>
                </div>
            </table>
            <hr>
            <input type="text" id="support-case-chat-input" style="width: 92%">
            <button>Send</button>
        </div>
    </div>
</div>

<script>
    let supportCaseOpen = document.getElementById("support-case-open")
    let supportCaseModal = document.getElementById("support-case-modal")
    let supportCaseClose = document.getElementById("support-case-close")
    supportCaseOpen.onclick = function () {
        supportCaseModal.style.display = "block"
    }
    supportCaseClose.onclick = function () {
        supportCaseModal.style.display = "none"
    }
    /*window.onclick = function(e){
        if(e.target == supportCaseModal) {
            supportCaseModal.style.display = "none"
        }
    }*/

    let supportCaseChatOpen = document.getElementById("support-case-chat-open")
    let supportCaseChatModal = document.getElementById("support-case-chat-modal")
    let supportCaseChatClose = document.getElementById("support-case-chat-close")
    supportCaseChatOpen.onclick = function () {
        supportCaseChatModal.style.display = "block"
    }
    supportCaseChatClose.onclick = function () {
        supportCaseChatModal.style.display = "none"
    }
</script>
</body>
</html>